<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuangxf.cloud.dao.mapper.member.MemberMapper">
	<resultMap id="BaseResultMap" type="com.kuangxf.cloud.dao.domain.member.Member">
		<id column="member_id" jdbcType="BIGINT" property="memberId" />
		<result column="member_name" jdbcType="VARCHAR" property="memberName" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
		<result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		member_id, member_name, sex, birthday, create_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from member
		where member_id = #{memberId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from member
		where member_id = #{memberId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.kuangxf.cloud.dao.domain.member.Member">
		insert into member (member_id,
		member_name, sex,
		birthday, create_time)
		values
		(#{memberId,jdbcType=BIGINT}, #{memberName,jdbcType=VARCHAR},
		#{sex,jdbcType=VARCHAR},
		#{birthday,jdbcType=TIMESTAMP},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.kuangxf.cloud.dao.domain.member.Member">
		insert into member
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="memberId != null">
				member_id,
			</if>
			<if test="memberName != null">
				member_name,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="memberId != null">
				#{memberId,jdbcType=BIGINT},
			</if>
			<if test="memberName != null">
				#{memberName,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.kuangxf.cloud.dao.domain.member.Member">
		update member
		<set>
			<if test="memberName != null">
				member_name = #{memberName,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where member_id = #{memberId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.kuangxf.cloud.dao.domain.member.Member">
		update member
		set
		member_name = #{memberName,jdbcType=VARCHAR},
		sex =
		#{sex,jdbcType=VARCHAR},
		birthday = #{birthday,jdbcType=TIMESTAMP},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where member_id =
		#{memberId,jdbcType=BIGINT}
	</update>
</mapper>